<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title><%= assigns[:page_title] || "AiAssistant" %> · Phoenix Framework</title>
    <style>
      /* Default logo size for smaller screens */
      .logo {
        width: 40px;
      }

      /* Increase logo size for screens wider than 800px */
      @media screen and (min-width: 800px) {
        .logo {
          width: 100px;
        }
      }

      /* Flexbox Layout for content */
      .content-container {
        display: flex;
        flex-direction: column;
      }

      /* Minimum height for the logo section */
      .logo-section {
        min-height: 150px;
      }
    </style>
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">

    <!-- Content container -->
    <div class="content-container" style="max-width: 800px; margin: 50px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">

      <!-- AI Assistant title and logos -->
      <div class="logo-section" style="display: flex; align-items: center; justify-content: center; gap: 20px;">
        <!-- Elixir logo -->
        <img class="logo" src="https://external-preview.redd.it/elixir-v1-14-3-released-elixir-news-elixir-programming-v0-QflgKdyzqr5IljI5lTqvxpa2gzjBrMXeRQjgHO1iJDI.jpg?auto=webp&s=469ca27530e0a12e17a227b22a65efdbcbfa64d7" alt="Elixir logo">

        <!-- Main Title -->
        <h1 style="text-align: center; color: #4e2a8e; margin-bottom: 20px; font-size: 2.5em;">AI Assistant</h1>

        <!-- Phoenix logo -->
        <img class="logo" src="https://images.prismic.io/cryptrfront/1fd9365c-99cc-49bc-86e0-0a3d18bf095b_liveview_phoenix.jpg?auto=compress,format" alt="Phoenix logo">
      </div>
    </div>

     <!-- Chat window liveview -->
     
        <%= live_render @conn, AiAssistantWeb.ChatbotLive, session: %{"current_user_id" => @current_user.id} %>
      

  </body>
</html>
