<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title><%= assigns[:page_title] || "AiAssistant" %> · Phoenix Framework</title>
    
    <!--boilerplate for delete-->
    <!--link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script-->
    <style>
        .logo {
            width: auto;
            height: 40px;
          }

          /* Increase logo size for screens wider than 800px */
          @media screen and (min-width: 800px) {
            .logo {
              width: auto;
              height: 100px;
            }
          }

    </style>
</head>
<body>
    <header>
        <div id="logo">
            <img class="logo" src={static_path(@conn, "/images/logo.svg")} alt="Phoenix Logo">
        </div>
        <nav id="user-menu">
            <ul>
                <li><a href="/users/settings">Settings</a></li>
                <li><a href="/users/log_out" data-csrf={Plug.CSRFProtection.get_csrf_token()} data-method="delete"  data-to="/users/log_out">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="core-features">
            <!-- Core site features should be listed here in a clickable menu format -->
            <ul>
                <li><a href="/taskboard">Taskboard</a></li>
                <li><a href="/calendar/index">Calendar</a></li>
                <!-- Add more core features as per your app -->
            </ul>
        </section>
    </main>
</body>
</html>
