<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Calendar</title>
 <!--script type="text/javascript" src={AiAssistantWeb.Router.Helpers.static_path(@conn, "/js/calendar.js")}></script-->



  <style>
    .odd-day {
        background-color: var(--color-elixir);
    }

    .even-day{
        background-color: var(--color-phx);
    }

    .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr); /* T
        width: 100%; /* Makes sure the calendar takes the full width */

    }

    .week-column {
        display: flex;
        flex-direction: column;
        flex: 1; /* Each column should equally take up space */
    }

    .day-header {
        /* Styles for your day headers, like "S", "M", etc. */
        font-weight: bold; /* This makes headers bold, you can adjust as per your preference */
        text-align: center;
    }

    .day {
        /* Styles for your day div, e.g., width or borders */
        flex: 1; /* This will allow your days to expand equally within the flex container */
        text-align: center; 
        border: 1px solid #ddd; /* Optional, adds a border around each day */
        padding: 5px; /* Optional, provides some space around the content of each day */
    }
  </style>
</head>

<body>
  <!--div style="text-align: center; color: var(--color-elixir-cap); margin-bottom: 20px; font-size: 2.5em;">Main Portal To The Calendar:</div -->
  <!-- Here you can add other HTML for your calendar -->

  <div id='time-needed'>
     <%= live_render @conn, AiAssistantWeb.CalendarLive.Month, session: %{"current_user_id" => @current_user.id,"year"=>@year,"month"=>@month}, layout: false %>

  </div>
</body>
</html>
